.container {
   max-width: 800px;
   margin: 0 auto;
}

.list {
   display: flex;
   align-items: center;
   flex-direction: column;
}

table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
   margin-top: 10px;
}

table td,
table th {
   border: 1px solid #ddd;
   padding: 8px;
}

table tr:nth-child(even) {
   background-color: #f2f2f2;
}

table tr:hover {
   background-color: #ddd;
}

table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #000000;
   color: white;
}
